@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;1,600&family=Playfair+Display&display=swap');

:root{
    --cor-primaria: #000000;
    --cor-secudaria: #FFF2DD;
    --cor-terceira: #FF2E20;
    --cor-hover: #9BE0AB;
    --cor-destaque: #FFF8CF;
    --font-titulo: 'Lora', serif;
    --font-texto: 'Playfair Display', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secudaria);

}

.cabecalho__menu__link{
    font-family: var(--font-texto);
    font-size: 24px;
    font-weight: 600;
    color: var(--cor-secudaria);
    text-decoration: none;
}

.cabecalho{
    padding: 2% 0% 0% 15%; 
}

.cabecalho__menu{
    display: flex;
    gap: 80px;

}
.titulo__destaque {
    color: var(--cor-terceira);
}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;

}

.apresentacao__conteudo__titulo {
    font-family: var(--font-titulo);
    font-weight: 400;
    font-size: 2.25rem;
}

.apresentacao__destaque {
    color:  var(--cor-destaque);
    text-decoration: none;
}
.apresentacao__conteudo__texto{
    font-family: var(--font-texto);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__links {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}   

.apresentacao__links__navegacao {
    display: flex;
    border: 2px solid var(--cor-terceira);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secudaria);
    font-family: 'Playfair Display', sans-serif;
    font-weight: 600;
    justify-content: center;
    gap: 16px;
}
.apresentacao__links__subtitulo{
    font-family: var(--font-titulo);
    font-weight: 400;
    font-size: 1.5rem;
    
}

.apresentacao__links__navegacao:hover {
    background-color: var(--cor-hover);
}

.imagem{
    width: auto;
    border: 2px solid var(--cor-secudaria);
    border-radius: 8px;
}

.rodape {
    background-color: var(--cor-terceira);
    text-align: center;
    padding: 24px;
    font-family: var(--font-texto);
    font-size: 1.5rem;
    font-weight: 400;
}

@media(max-width: 1200px) {
    .cabecalho{
        padding: 10%;
    }

    .cabecalho__menu{
        justify-content: center;
    }

    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo{
        width: auto;
    }
    .imagem{
        width: 50%;
    }

}